// Sizes
$header-height: 20px;
$footer-height: 20px;
$main-height: calc(100vh - (#{$header-height} + #{$footer-height * 2}));

// Colors
$white: #eaeaea;
$red: #cf2d2d;
$grey-dark: #333333;
$black: #333333;